Frameworks/n8n/Webhook.json
{
  "name": "Webhook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name -  {{ $json.body.Name }}\nAge - {{ $json.body.Age }}",
        "options": {
          "systemMessage": "You are an Exceptional Genzy Poem Creator & Story Teller.\n\nYou will receive a Name & Age.\n\nYour Response Should be:\n1. Return a warm welcome with Name & Age. \n2. Create a personalized 3 line poem based on Name & Age.\n3. A random Corny Joke\n\nNote: Refer the Memory so that you dont repeat the same joke"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        -368
      ],
      "id": "0b4810bc-15b9-4e72-a850-26a4848c0527",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -864,
        -160
      ],
      "id": "d4ea4d1a-168d-4103-8526-1d36a8873c5f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ZjSuZoguHGlWMLOU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -368,
        -272
      ],
      "id": "8a33bfd0-ca5a-4d2f-a443-ec74c4568ed2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "50dbe094-f067-4aea-b6b9-f27400aa2d3b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -368
      ],
      "id": "9eb8e1e4-1262-48ab-b3bd-967e137c5889",
      "name": "Webhook_Receiver",
      "webhookId": "50dbe094-f067-4aea-b6b9-f27400aa2d3b"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['x-proxyuser-ip'] }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -624,
        -160
      ],
      "id": "77c7db71-bdf7-47e1-892e-657b47c0ef42",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# AI-Powered Welcome Workflow\n\n## Overview\nThis workflow receives a user's **name** and **age** as input and generates:\n- A warm welcome message  \n- A short, personalized poem  \n- A fun dad joke  \n\n## How It Works\n1. A **webhook** is used to accept incoming requests.  \n2. Input data (name and age) is sent in **JSON format**.  \n3. The webhook connects to an **AI agent**.  \n4. The AI processes the input and generates a response.  \n5. The response is returned back to the requester.\n\n## Input Format\nYou can use **Postman** (or any API tool) to send a request like:\n\n```json\n{\n  \"name\": \"John\",\n  \"age\": 30\n}",
        "height": 688,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -352
      ],
      "id": "e7513210-c2f2-4a40-979b-13e15091f6a8",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Receiver": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a0d834c7-d848-4e6b-bad5-3d136cf18029",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "495b79e7fe228f267a60221638b63952a1ec9ea8152bdf858d4a1c3f08ccc105"
  },
  "id": "EP2JERmDy2sUVHBg",
  "tags": []
}